<nav class="navbar navbar-dark bg-dark" >
    <a class="navbar-brand" href="javascript:void(0)">
        <img src="assets/logo1.jpg" width="100" height="60" alt="Logo">
        <app-product-checkout style="margin-left: 550%"></app-product-checkout>
    </a>
</nav>
