<br>
<div *ngIf="successMessage" class="alert alert-success" role="alert">
  {{successMessage}}
</div>
<div *ngIf="errorMessage" class="alert alert-warning" role="alert">
  {{errorMessage}}
</div>
<br>
<br>
<div *ngFor="let products of listOfAllProducts">
    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src={{products.image}} alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">{{products.name}}</h5>
          <p class="card-text">{{products.description}}</p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Price : &#8377; {{products.price}}</li>
          <li class="list-group-item">Quantity : {{products.quantity}}</li>
        </ul>
        <div class="card-body">
          <button (click)="addToCart(products.id)" class="btn btn-primary">Add To card</button>
        </div>
    </div>
    <br>
    <br>
</div>
