<button type="button" class="btn btn-primary" (click)="viewProducts()"
placement="bottom" [ngbPopover]="popContent" [autoClose]="'outside'">
<span class="badge badge-light">{{noOfProductsInTheCart}}</span>&nbsp;<i class="fas fa-shopping-cart"></i>
</button>

<ng-template #popContent>
    <div *ngIf="isDetailsExist">
        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                    <tr>
                      <th scope="col">Product Name</th>
                      <th scope="col">Unit Price</th>
                      <th scope="col">No Of Items</th>
                      <th scope="col">Sub Total</th>
                      <th scope="col">Remove</th>
                    </tr>
                  </thead>
                  <tbody *ngFor="let checkoutDetails of productDetails">
                      <tr>
                          <td>{{checkoutDetails.productName}}</td>
                          <td>&#8377; {{checkoutDetails.unitPrice}}</td>
                          <td>{{checkoutDetails.items}}</td>
                          <td>{{checkoutDetails.subTotal}}</td>
                          <td><button (click)="removeProduct(checkoutDetails.productId)" class="btn btn-primary">Remove Product</button></td>
                      </tr>
                  </tbody>
            </table>
        </div>
  </div>
  <div *ngIf="!isDetailsExist">
      <p>You have no data to view</p>
  </div>
</ng-template>
